.sprite-picker {
  @apply flex flex-col inset-0 absolute overflow-auto;
}

.sprite-picker .canvas-wrapper {
  @apply relative overflow-auto;
  max-height: 100vh;
  max-width: 100vw;
  canvas {
    margin-bottom: 256px;
  }
}

.sprite-picker .vacuform {
  @apply flex flex-wrap justify-between;
  width: 230px;
  .form-group {
    flex-basis: 46%;
  }
}

.sprite-picker .preview {
  @apply absolute bottom-0 left-0;
  $color1: #444;
  $color2: #333;
  $size: 32px;

  background-image:
    linear-gradient(45deg, $color1 25%, transparent 25%, transparent 75%, $color1 75%),
    linear-gradient(45deg, $color1 25%, $color2 25%, $color2 75%, $color1 75%);
  background-size: $size $size;
  background-position: 0 0, $size/2 $size/2;
}

.sprite-picker .actions {
  @apply bottom-0 absolute  flex right-0;
}

.sprite-picker .hovering {
  @apply absolute border-2 border-green-300 pointer-events-none;
}
.sprite-picker .selected {
  @apply border-red-500 border-2 absolute pointer-events-none;
}