.SpriteList {
  .sprite {
    font-size: 6rem;
  }
}

.sprite {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 1em;
  image-rendering: pixelated;
  width: 1em;
}

.board {
  $a: 0.2s;
  font-size: 3em;
  position: relative;
  &.layer-sound .sprite.sound { display: block; }
  &.layer-sound_cache .sprite.sound_cache { display: block; }
  .sprite {
    position: absolute;
    &.piece {
      display: flex;
      transition: left $a,  top $a, opacity $a;
      background-size: 90%;
      background-position: bottom center;
      .fa {
        font-size: 0.25em;
      }
    }
    @for $i from 0 through 16 {
      &.sound-#{$i}:before {
        content: "S:#{$i}";
      }
    }
    &.sound, &.sound_cache {
      display: none;
    }
    &.sound:before, &.sound_cache:before {
      /* needs tailwind */
      background: rgba(0,0,0,0.5);
      position: absolute;
      bottom: 0;
      right: 0;
      color: #aaa;
      font-size: 0.25em;
    }
  }
  @for $i from -5 through 30 {
    .x-#{$i} {
      left: $i * 1em;
    }
    .y-#{$i} {
      top: $i * 1em;
    }
    &:hover {
      .x0-#{$i} {
        left: $i * 1em;
      }
      .y0-#{$i} {
        top: $i * 1em;
      }
    }
  }
  .attack-u {
    animation: $a bounce-up;
  }
  .attack-l {
    animation: $a bounce-left;
  }
  .attack-r {
    animation: $a bounce-right;
  }
  .attack-d {
    animation: $a bounce-down;
  }

  @for $i from 1 through 30 {
    &.W-#{$i} {
      width: $i * 1em;
    }
    &.H-#{$i} {
      height: $i * 1em;
    }
  }
  .is_dead {
    opacity: 0;
  }
}

.board {
  .sprite {
    z-index: 10;
    &.sprite-floor0, &.sprite-floor1 {
      z-index: 0
    }
    &.piece {
      z-index: 20;
    }
    &.sound {
      z-index: 30;
    }
  }
}

.board .sprite.piece{
  &.wait-0:before, &.wait-1:before {
    border-radius: 50%;
    background: grey;
    bottom: 0;
    content: '';
    display: block;
    height: 0.25em;
    left: 0;
    position: absolute;
    width: 0.25em;
  }
  &.wait-1:before {
    background: red;
  }
}

$a_dist: 0.5em;

@keyframes bounce-up {
  0% { transform: translateY(0) }
  50% { transform: translateY(-$a_dist) }
  100% { transform: translateY(0) }
}

@keyframes bounce-down {
  0% { transform: translateY(0) }
  50% { transform: translateY($a_dist) }
  100% { transform: translateY(0) }
}

@keyframes bounce-right {
  0% { transform: translateX(0) }
  50% { transform: translateX($a_dist) }
  100% { transform: translateX(0) }
}

@keyframes bounce-left {
  0% { transform: translateX(0) }
  50% { transform: translateX(-$a_dist) }
  100% { transform: translateX(0) }
}