.sprite {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 1em;
  image-rendering: pixelated;
  width: 1em;
}

.sprite-blood {
  $null: rgba(255,255,255,0.3);
  @apply absolute rounded-full;
  border: 0.4em #333 solid;
  height: 0;
  inset: 0.1em;
  transform: rotate(45deg);
  width: 0;
  z-index: 100;
  &.-blood-3 {
    border-top-color: $null;
  }
  &.-blood-2 {
    border-right-color: $null;
    border-top-color: $null;
  }
  &.-blood-1 {
    border-bottom-color: $null;
    border-right-color: $null;
    border-top-color: $null;
  }
};

.sprite-arrow-l, .sprite-arrow-r, .sprite-arrow-u, .sprite-arrow-d {
  background-size: 70%;
  pointer-events: none;
  filter: hue-rotate(135deg);
  &.-step-0 {
    margin: 0.25em 0 0 -0.25em;
  }
  &.-step-1 {
    margin: 0.25em 0 0 0.25em;
  }
}

.sprite-energy {
  @apply bg-blue-500 rounded-full;
  height: 0.25em;
  width: 0.25em;
}

.sprite-energy, .sprite-part-energy {
  margin-top: 0.75em;
  &.-energy-1 {
    margin-left: 0.25em;
  }
  &.-energy-2 {
    margin-left: 0.5em;
  }
}

.sprite-part-energy {
  @apply border-blue-200 rounded-full;
  border-width: 0.125em;
  margin-top: 0.75em;
  transform: rotate(-45deg);
  height: 0;
  width: 0;
  &.-energy-1\/4,
  &.-energy-2\/4,
  &.-energy-3\/4 {
    border-top-color: transparent;
  }
  &.-energy-1\/4,
  &.-energy-2\/4 {
    border-left-color: transparent;
  }
  &.-energy-1\/4 {
    border-bottom-color: transparent;
  }
}
