/* everything below this line was copied over and could be deprecated */
.SpriteList {
  .sprite {
    font-size: 6rem;
  }
}

.sprite {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 1em;
  image-rendering: pixelated;
  width: 1em;
}

.board {
  $a: 0.2s;
  font-size: 3em;
  position: relative;
  user-select: none;
  .piece {
    position: absolute;
    display: flex;
    transition: left $a,  top $a, opacity $a;
    .sprite {
      background-size: 90%;
      background-position: bottom center;
    }
    .fa {
      font-size: 0.25em;
      position: relative;
      left: -0.2em;
      top: -0.2em;
    }
  }
  .sprite {
    position: absolute;
    .text {
      /* needs tailwind */
      background: rgba(0,0,0,0.5);
      position: absolute;
      bottom: 0;
      right: 0;
      color: #aaa;
      font-size: 0.25em;
    }
  }
  @for $i from -5 through 30 {
    .x-#{$i} {
      left: $i * 1em;
    }
    .y-#{$i} {
      top: $i * 1em;
    }
    &:hover {
      .x0-#{$i} {
        left: $i * 1em;
      }
      .y0-#{$i} {
        top: $i * 1em;
      }
    }
  }
  .attack-u {
    animation: $a bounce-up;
  }
  .attack-l {
    animation: $a bounce-left;
  }
  .attack-r {
    animation: $a bounce-right;
  }
  .attack-d {
    animation: $a bounce-down;
  }

  @for $i from 1 through 30 {
    &.W-#{$i} {
      width: $i * 1em;
    }
    &.H-#{$i} {
      height: $i * 1em;
    }
  }
  .is_dead {
    opacity: 0;
  }
}

.board {
  .sprite-floor0, .sprite-floor1 {
    z-index: 0
  }
  .sprite {
    z-index: 10;
  }
  .piece {
    z-index: 20;
    .fa {
      z-index: 30;
    }
  }
  .sound {
    z-index: 30;
  }
}

.board .piece {
  &.wait-0:before {
    background: radial-gradient(gray, transparent, transparent);
  }
  &.team-1.wait-1:before {
    background: radial-gradient(blue, rgba(0,0,255,0.75), transparent, transparent);
  }
  &.team-2.wait-1:before {
    background: radial-gradient(red, rgba(255,0,0,0.75), transparent, transparent);
  }
  &.dindex-u, &.dindex-d, &.dindex-l, &.dindex-r, &.wait-0, &.wait-1 {
    &:before {
      border: 0.05em transparent solid;
      border-radius: 50%;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: -1;
    }
    &.team-1 {
      &.dindex-u:before { border-top-color: blue }
      &.dindex-l:before { border-left-color: blue }
      &.dindex-r:before { border-right-color: blue }
      &.dindex-d:before { border-bottom-color: blue }
    }
    &.team-2 {
      &.dindex-u:before { border-top-color: red }
      &.dindex-l:before { border-left-color: red }
      &.dindex-r:before { border-right-color: red }
      &.dindex-d:before { border-bottom-color: red }
    }
  }
}

$a_dist: 0.5em;

@keyframes bounce-up {
  0% { transform: translateY(0) }
  50% { transform: translateY(-$a_dist) }
  100% { transform: translateY(0) }
}

@keyframes bounce-down {
  0% { transform: translateY(0) }
  50% { transform: translateY($a_dist) }
  100% { transform: translateY(0) }
}

@keyframes bounce-right {
  0% { transform: translateX(0) }
  50% { transform: translateX($a_dist) }
  100% { transform: translateX(0) }
}

@keyframes bounce-left {
  0% { transform: translateX(0) }
  50% { transform: translateX(-$a_dist) }
  100% { transform: translateX(0) }
}