.board {
  .sprite-floor0, .sprite-floor1 {
    z-index: 0
  }
  .sprite.square {
    z-index: 8;
  }
  .sprite.node {
    z-index: 9;
  }
  .sprite {
    z-index: 10;
  }
  .piece {
    z-index: 20;
    .mini-sprite {
      z-index: 30;
    }
  }
  .sprite-part-energy, .sprite-energy {
    z-index: 29
  }
  .sound {
    z-index: 30;
  }
  .sprite-arrow- {
    &u, &d, &l, &r {
      z-index: 31
    }
  }

  /* ui stuff */
  .player-score {
    z-index: 40;
  }
}
